* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body header {
  height: 60px;
  background-color: antiquewhite;
}
body main {
  flex-grow: 1;
  background-color: aqua;
}
body footer {
  height: 50px;
  background-color: azure;
}
