* {
  margin: 0;
  padding: 0;
}
.content1 {
  width: 920px;
  height: 920px;
  padding: 10px;
  display: grid;
  background-color: #0088ff;
  grid-template-rows: repeat(2, [r-start] 100px [r-end]) 100px;
  grid-template-columns: repeat(2, [c-start] 100px [c-end]) 100px;
  gap: 10px;
  margin: 0 auto;
}
.content1 .grid {
  background-color: #81ffcf;
  padding: 10px;
  color: #0088ff;
  font-size: 50px;
  font-weight: bold;
}
.content1 Í :first-child {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  color: red;
}
.content1 :last-child {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  color: red;
}
.content1 :nth-child(3) {
  grid-row-start: r-start 1;
  grid-row-end: r-end 1;
  grid-column-start: c-start 1;
  grid-column-end: c-end 1;
  grid-column-end: span 2;
}
.content1 :nth-child(6) {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  color: yellowgreen;
}
